@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Oswald;
  background-color: #000;
  color: #fff;
  font-size: 20px;
}

#navbar {
  background-color: black;
  border-right: 1px #3d3d3d solid;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  height: 100%;
  div{
    border-bottom: 1px #3d3d3d solid;
  }
  ul {
    width: 100%;
    text-align: center;
    li {
      list-style: none;
      border-top: 1px #3d3d3d solid;
      font-size: 25px;
      padding: 10px;
      &#sign-out {
        border-bottom: 1px #3d3d3d solid;
      }
      &#search input {
        max-width: 200px
      }
    }
    li:hover {
      border-left: #EB6200 2px solid;
      background-color: #3d3d3d;
      cursor: pointer;
    }
  }
}

main {
  margin-left: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 35%;
  margin-top: 50px;
  margin-bottom: 0;
}
input {
  font-family: Oswald;
  margin-top: 10px;
  border-radius: 5px;
  height: 30px;
}

.pw-cred {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.must-have {
  padding: 0;
  margin: 0;

}

.btn {
  background-color: #EB6200;
  color: #f4f4f4;
  margin: 5px;
  border-radius: 5px;
  height: 30px;
  max-width: 500px;
  text-align: center;
}

#msg-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 20px;
  margin-bottom: 60px;
  position: relative;
  position: fixed;
  overflow: auto;
  &#message {
    position: absolute;
  }
}

#headings {
  margin-top: 4%;
}

#events-display {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.event-cont {
  border-radius: 5px;
  text-align: center;
  background-color: #fff;
  color: #000;
  width: 20%;
  margin: 10px;
  padding: 10px;
}
